body {
    background-color: lightgray;
}
header {
    text-align: center;
    color: blue;
    font-size: 50px;
}

section {
    padding: 20px;
    border: 2px solid red;
}

article {
    background-color: white;
    margin: 20px;
    width: 500px;
    border: 2px solid orange;
}

button {
    background-color: aqua;
    border: 2px solid black;
    border-radius: 25px;
}

footer {
    margin-top: 10px;
    text-align: center;
}

.prof {
    width: 100%;
}