body {
    background-color: antiquewhite;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.head {
    text-align: center;
}

.about {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10;
}